In [17]:
import pandas as pd
import numpy as np
import json

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import linear_rainbow, het_breuschpagan
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [18]:
df = pd.read_json('../Data/combined.json')

In [ ]:
#are these new var we added categorical

In [15]:
df.columns

Index(['DocumentDate', 'SalePrice', 'PropertyType', 'Area', 'SqFtLot',
       'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek',
       'WfntLocation', 'WfntFootage', 'WfntBank', 'WfntPoorQuality',
       'WfntRestrictedAccess', 'TidelandShoreland', 'TrafficNoise',
       'PowerLines', 'OtherNuisances', 'SqFtTotLiving', 'SqFtDeck',
       'SqFtOpenPorch', 'Condition'],
      dtype='object')

In [7]:
cat_var = ['PropertyType', 'LakeWashington', 'LakeSammamish',
'SmallLakeRiverCreek', 'WfntLocation', 'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess',
'TidelandShoreland', 'TrafficNoise', 'PowerLines', 'OtherNuisances', 'Condition']

,DocumentDate,SalePrice,PropertyType,Area,SqFtLot,LakeWashington,LakeSammamish,SmallLakeRiverCreek,WfntLocation,WfntFootage,...,WfntPoorQuality,WfntRestrictedAccess,TidelandShoreland,TrafficNoise,PowerLines,OtherNuisances,SqFtTotLiving,SqFtDeck,SqFtOpenPorch,Condition
8576000260,1546300800000,583950,2,57,5944,0,0,0,0,0,...,0,0,0,0,N,N,3270,0,250,3
7691000060,1546300800000,539950,2,41,8389,0,0,0,0,0,...,0,0,0,0,N,N,3200,0,0,3
53300380,1546300800000,642950,2,51,4000,0,0,0,0,0,...,0,0,0,0,N,N,2487,0,45,3
2525059126,1546300800000,541000,11,91,13503,0,0,0,0,0,...,0,0,0,0,N,N,1030,0,210,4
53300290,1546300800000,647950,2,51,5362,0,0,0,0,0,...,0,0,0,0,N,N,2487,0,45,3

In [8]:
ohe = OneHotEncoder(drop='first')
comma_trans = ohe.fit_transform(comma_use.drop('', axis=1))

In [11]:
comma_trans.todense()

matrix([[0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 1., 0., 0.]])

In [12]:
ohe.get_feature_names()

array(['x0_1546387200000', 'x0_1546473600000', 'x0_1546560000000', ...,
       'x20_3', 'x20_4', 'x20_5'], dtype=object)

In [14]:
df.shape

(26955, 21)

In [19]:
sns.displot(df, x="SalePrice", kind="kde")

AttributeError: module 'seaborn' has no attribute 'displot'