In [1]:
import pandas as pd
import sqlite3

In [2]:
Parcel_df = pd.read_csv('../src/Data/EXTR_Parcel.csv', encoding = "ISO-8859-1")

In [3]:
ResBldg_df = pd.read_csv('../src/Data/EXTR_ResBldg.csv', encoding = "ISO-8859-1", low_memory=False)

In [4]:
RPSale_df = pd.read_csv('../src/Data/EXTR_RPSale.csv', encoding = "ISO-8859-1", low_memory=False)

In [5]:
#a single parcel of land

#property types that we're interested in are residential, PropType = R

#unique identifier for parcel is major + minor

In [6]:
Parcel_df.insert(0, 'UniqueID', Parcel_df['Major'] + Parcel_df['Minor'])

In [7]:
Parcel_df

,UniqueID,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
0,786032,785662,370,Single Family Residence,SOMERSET HIGHLANDS NO. 03,37,1,5,24,15,...,N,N,N,N,N,N,N,N,N,N
1,990625,990600,25,,ZWICKS 1ST ADD,5,1 &,3,25,13,...,N,N,N,N,N,N,N,N,N,N
2,286530,286210,320,,GRAHAMS A B UNIVERSITY ADD,16,3,4,25,8,...,N,N,N,N,N,N,N,N,N,N
3,265025,264800,225,duplex,FRENCHS ADD TO SLAUGHTER,6 THRU 9,2,5,21,18,...,N,N,N,N,N,N,N,N,N,N
4,689271,689181,90,,PRESTIGE HEIGHTS DIV NO 02,9,,4,26,2,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616084,375680,375520,160,,JUANITA FIRS,16,,5,26,30,...,N,N,N,N,N,N,N,N,N,N
616085,790330,788360,1970,,SOUTH PARK,22-23,9,4,24,32,...,N,N,N,N,N,N,N,N,N,N
616086,329214,327780,1434,,HIGH POINT ADD,6,16,3,24,25,...,N,N,N,N,N,N,N,N,N,N
616087,955315,955020,295,,WOODS SOUTH DIV OF GREEN LAKE ADD,8-9,5,4,25,8,...,N,N,N,N,N,N,N,N,N,N
616088,133475,133030,445,,CANTERBURY PLAT OF,32,4,4,25,22,...,N,N,N,N,N,N,N,N,N,N

In [8]:
Parcel_df = Parcel_df.loc[Parcel_df.PropName == 'Single Family Residence'].copy()

Parcel_df

#Rather than using PropertyType = 11, this table has a PropName column = Single Family Residence

,UniqueID,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
43,746040,745740,300,Single Family Residence,ROYAL HILLS,30,,5,21,8,...,N,N,N,N,N,N,N,N,N,N
94,447580,447500,80,Single Family Residence,LYNDEN PLACE,8,,5,22,4,...,N,N,N,N,N,N,N,N,N,N
139,251245,242105,9140,Single Family Residence,NaN,,,5,21,24,...,N,N,N,N,N,N,N,N,N,N
297,363088,362998,90,Single Family Residence,ISSAQUAH HIGHLANDS DIV 84 & 85,9,DIV84,6,24,24,...,N,N,N,N,N,N,N,N,N,N
300,260059,259769,290,Single Family Residence,FOREST TRAILS DIV NO. 03,29,,5,22,3,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615887,251594,242006,9588,Single Family Residence,NaN,,,6,20,24,...,N,N,N,N,N,N,N,N,N,N
615904,803347,802977,370,Single Family Residence,STONE RIDGE,37,,5,23,3,...,N,N,N,N,N,N,N,N,N,N
615948,801360,800510,850,Single Family Residence,STEVENSONS 2ND ADD TO ENUMCLAW,6-7,19,6,20,24,...,N,N,N,N,N,N,N,N,N,N
615995,291779,282406,9373,Single Family Residence,NaN,,,6,24,28,...,N,N,N,N,N,N,N,N,N,N
616037,680691,680221,470,Single Family Residence,PINNACLE ESTATES II,47,,6,20,25,...,N,N,N,N,N,N,N,N,N,N

In [9]:
Parcel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9070 entries, 43 to 616037
Data columns (total 82 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UniqueID                9070 non-null   int64
 1   Major                   9070 non-null   int64
 2   Minor                   9070 non-null   int64
 3   PropName                9070 non-null   object
 4   PlatName                7656 non-null   object
 5   PlatLot                 9070 non-null   object
 6   PlatBlock               9070 non-null   object
 7   Range                   9070 non-null   int64
 8   Township                9070 non-null   int64
 9   Section                 9070 non-null   int64
 10  QuarterSection          9070 non-null   object
 11  PropType                9070 non-null   object
 12  Area                    9070 non-null   float64
 13  SubArea                 9070 non-null   float64
 14  SpecArea                1 non-null      float64
 15  SpecSubArea             1 non-null      float64
 16  DistrictName            9070 non-null   object
 17  LevyCode                9070 non-null   int64
 18  CurrentZoning           9070 non-null   object
 19  HBUAsIfVacant           9070 non-null   int64
 20  HBUAsImproved           9070 non-null   int64
 21  PresentUse              9070 non-null   int64
 22  SqFtLot                 9070 non-null   int64
 23  WaterSystem             9070 non-null   int64
 24  SewerSystem             9070 non-null   int64
 25  Access                  9070 non-null   int64
 26  Topography              9070 non-null   int64
 27  StreetSurface           9070 non-null   int64
 28  RestrictiveSzShape      9070 non-null   int64
 29  InadequateParking       9070 non-null   int64
 30  PcntUnusable            9070 non-null   int64
 31  Unbuildable             9070 non-null   bool
 32  MtRainier               9070 non-null   int64
 33  Olympics                9070 non-null   int64
 34  Cascades                9070 non-null   int64
 35  Territorial             9070 non-null   int64
 36  SeattleSkyline          9070 non-null   int64
 37  PugetSound              9070 non-null   int64
 38  LakeWashington          9070 non-null   int64
 39  LakeSammamish           9070 non-null   int64
 40  SmallLakeRiverCreek     9070 non-null   int64
 41  OtherView               9070 non-null   int64
 42  WfntLocation            9070 non-null   int64
 43  WfntFootage             9070 non-null   int64
 44  WfntBank                9070 non-null   int64
 45  WfntPoorQuality         9070 non-null   int64
 46  WfntRestrictedAccess    9070 non-null   int64
 47  WfntAccessRights        9070 non-null   object
 48  WfntProximityInfluence  9070 non-null   object
 49  TidelandShoreland       9070 non-null   int64
 50  LotDepthFactor          9070 non-null   int64
 51  TrafficNoise            9070 non-null   int64
 52  AirportNoise            9070 non-null   int64
 53  PowerLines              9070 non-null   object
 54  OtherNuisances          9070 non-null   object
 55  NbrBldgSites            9070 non-null   int64
 56  Contamination           9070 non-null   int64
 57  DNRLease                9070 non-null   object
 58  AdjacentGolfFairway     9070 non-null   object
 59  AdjacentGreenbelt       9070 non-null   object
 60  HistoricSite            9070 non-null   int64
 61  CurrentUseDesignation   9070 non-null   int64
 62  NativeGrowthProtEsmt    9070 non-null   object
 63  Easements               9070 non-null   object
 64  OtherDesignation        9070 non-null   object
 65  DeedRestrictions        9070 non-null   object
 66  DevelopmentRightsPurch  9070 non-null   object
 67  CoalMineHazard          9070 non-null   object
 68  CriticalDrainage        9070 non-null   object
 69  ErosionHazard           9070 non-null   object
 70  LandfillBuffer          9070 non-null   object
 71  HundredYrFloodPlain     9070 non-null   object
 72  SeismicHazard           9070 non-null   object
 73  LandslideHazard         9070 non-null   object
 74  SteepSlopeHazard        9070 non-null   object
 75  Stream                  9070 non-null   object
 76  Wetland                 9070 non-null   object
 77  SpeciesOfConcern        9070 non-null   object
 78  SensitiveAreaTract      9070 non-null   object
 79  WaterProblems           9070 non-null   object
 80  TranspConcurrency       9070 non-null   object
 81  OtherProblems           9070 non-null   object
dtypes: bool(1), float64(4), int64(42), object(35)
memory usage: 5.7+ MB

In [34]:
#What columns will I need to answer whether beachfront or lakefront increase home sale price?

#'LakeWashington', 'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView',
#'WfntLocation', 'WfntFootage', 'WfntBank', 'WfntPoorQuality',
#'WfntRestrictedAccess', 'WfntAccessRights', 'WfntProximityInfluence', 'TidelandShoreland'

Parcel_df[Parcel_df.LakeWashington]

KeyError: "None of [Int64Index([0, 0, 0, 0, 0, 0, 0, 0, 0, 0,\n            ...\n            0, 0, 0, 0, 0, 0, 0, 0, 0, 0],\n           dtype='int64', length=9070)] are in the [columns]"

In [28]:
Parcel_df

,UniqueID,Major,Minor,PropName,PlatName,PlatLot,PlatBlock,Range,Township,Section,...,SeismicHazard,LandslideHazard,SteepSlopeHazard,Stream,Wetland,SpeciesOfConcern,SensitiveAreaTract,WaterProblems,TranspConcurrency,OtherProblems
43,746040,745740,300,Single Family Residence,ROYAL HILLS,30,,5,21,8,...,N,N,N,N,N,N,N,N,N,N
94,447580,447500,80,Single Family Residence,LYNDEN PLACE,8,,5,22,4,...,N,N,N,N,N,N,N,N,N,N
139,251245,242105,9140,Single Family Residence,NaN,,,5,21,24,...,N,N,N,N,N,N,N,N,N,N
297,363088,362998,90,Single Family Residence,ISSAQUAH HIGHLANDS DIV 84 & 85,9,DIV84,6,24,24,...,N,N,N,N,N,N,N,N,N,N
300,260059,259769,290,Single Family Residence,FOREST TRAILS DIV NO. 03,29,,5,22,3,...,N,N,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615887,251594,242006,9588,Single Family Residence,NaN,,,6,20,24,...,N,N,N,N,N,N,N,N,N,N
615904,803347,802977,370,Single Family Residence,STONE RIDGE,37,,5,23,3,...,N,N,N,N,N,N,N,N,N,N
615948,801360,800510,850,Single Family Residence,STEVENSONS 2ND ADD TO ENUMCLAW,6-7,19,6,20,24,...,N,N,N,N,N,N,N,N,N,N
615995,291779,282406,9373,Single Family Residence,NaN,,,6,24,28,...,N,N,N,N,N,N,N,N,N,N
616037,680691,680221,470,Single Family Residence,PINNACLE ESTATES II,47,,6,20,25,...,N,N,N,N,N,N,N,N,N,N

In [35]:
Parcel_df['Area']

43        62.0
94        51.0
139       58.0
297       75.0
300       51.0
          ...
615887    41.0
615904    85.0
615948    41.0
615995    65.0
616037    41.0
Name: Area, Length: 9070, dtype: float64

In [12]:
#individual res units on top of a single parcel of land

#unique identifier for res building is

In [13]:
ResBldg_df.insert(0, 'UniqueID', ResBldg_df['Major'] + ResBldg_df['Minor'])

In [15]:
ResBldg_df

,UniqueID,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,718735,718680,55,3,1,5936 A 36TH AVE S 98118,5936,A,,36TH,...,0,0,0,2017,0,0,0,0,3,0
1,718735,718680,55,2,1,5936 A 36TH AVE S 98118,5936,A,,36TH,...,0,0,0,2017,0,0,0,0,3,0
2,718735,718680,55,4,1,5936 A 36TH AVE S 98118,5936,A,,36TH,...,0,0,0,2017,0,0,0,0,3,0
3,718735,718680,55,1,1,5936 A 36TH AVE S 98118,5936,A,,36TH,...,0,0,0,2017,0,0,0,0,3,0
4,718735,718680,55,5,1,5936 A 36TH AVE S 98118,5936,A,,36TH,...,0,0,0,2017,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517549,927323,926403,920,1,1,1110 V ST NW 98001,1110,,,V,...,0,0,0,2003,0,0,0,0,3,0
517550,926615,926445,170,1,1,38030 41ST PL S,38030,,,41ST,...,0,0,0,2012,0,0,0,0,3,0
517551,926765,926445,320,1,1,38011 39TH AVE S,38011,,,39TH,...,0,0,0,2013,0,0,0,0,3,0
517552,926900,926490,410,1,1,32026 5TH AVE SW 98023,32026,,,5TH,...,1,0,1,1979,0,0,0,0,3,0
517553,927150,926490,660,1,1,618 SW 321ST ST 98023,618,,SW,321ST,...,0,0,0,1979,0,0,0,0,3,0

In [16]:
ResBldg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517554 entries, 0 to 517553
Data columns (total 51 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   UniqueID            517554 non-null  int64
 1   Major               517554 non-null  int64
 2   Minor               517554 non-null  int64
 3   BldgNbr             517554 non-null  int64
 4   NbrLivingUnits      517554 non-null  int64
 5   Address             517554 non-null  object
 6   BuildingNumber      517554 non-null  object
 7   Fraction            517554 non-null  object
 8   DirectionPrefix     516847 non-null  object
 9   StreetName          517554 non-null  object
 10  StreetType          517554 non-null  object
 11  DirectionSuffix     516847 non-null  object
 12  ZipCode             469978 non-null  object
 13  Stories             517554 non-null  float64
 14  BldgGrade           517554 non-null  int64
 15  BldgGradeVar        517554 non-null  int64
 16  SqFt1stFloor        517554 non-null  int64
 17  SqFtHalfFloor       517554 non-null  int64
 18  SqFt2ndFloor        517554 non-null  int64
 19  SqFtUpperFloor      517554 non-null  int64
 20  SqFtUnfinFull       517554 non-null  int64
 21  SqFtUnfinHalf       517554 non-null  int64
 22  SqFtTotLiving       517554 non-null  int64
 23  SqFtTotBasement     517554 non-null  int64
 24  SqFtFinBasement     517554 non-null  int64
 25  FinBasementGrade    517554 non-null  int64
 26  SqFtGarageBasement  517554 non-null  int64
 27  SqFtGarageAttached  517554 non-null  int64
 28  DaylightBasement    517554 non-null  object
 29  SqFtOpenPorch       517554 non-null  int64
 30  SqFtEnclosedPorch   517554 non-null  int64
 31  SqFtDeck            517554 non-null  int64
 32  HeatSystem          517554 non-null  int64
 33  HeatSource          517554 non-null  int64
 34  BrickStone          517554 non-null  int64
 35  ViewUtilization     517554 non-null  object
 36  Bedrooms            517554 non-null  int64
 37  BathHalfCount       517554 non-null  int64
 38  Bath3qtrCount       517554 non-null  int64
 39  BathFullCount       517554 non-null  int64
 40  FpSingleStory       517554 non-null  int64
 41  FpMultiStory        517554 non-null  int64
 42  FpFreestanding      517554 non-null  int64
 43  FpAdditional        517554 non-null  int64
 44  YrBuilt             517554 non-null  int64
 45  YrRenovated         517554 non-null  int64
 46  PcntComplete        517554 non-null  int64
 47  Obsolescence        517554 non-null  int64
 48  PcntNetCondition    517554 non-null  int64
 49  Condition           517554 non-null  int64
 50  AddnlCost           517554 non-null  int64
dtypes: float64(1), int64(40), object(10)
memory usage: 201.4+ MB

In [23]:
ResBldg_df.loc[ResBldg_df['UniqueID'] == 786032.0]

#There is no PropertyType column, thus we can't filter these using PropertyType = 11

,UniqueID,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
393856,786032,785662,370,1,1,4612 143RD AVE SE 98006,4612,,,143RD,...,1,0,1,1978,0,0,0,0,4,0
394675,786032,785322,710,1,1,36424 SE ISLEY ST 98065,36424,,SE,ISLEY,...,0,0,0,2004,0,0,0,0,3,0
395843,786032,785332,700,1,1,8914 WEITING AVE SE,8914,,,WEITING,...,0,0,0,2008,0,0,0,0,3,0

In [24]:
#individual sales for individual units on a single parcel of land

#unique identifier is excise tax number + major + minor

In [25]:
RPSale_df['Major'] = RPSale_df['Major'].astype(str).astype(int)
RPSale_df['Minor'] = RPSale_df['Minor'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '      '

In [146]:
RPSale_df.insert(0, 'UniqueID', RPSale_df['Major'] + RPSale_df['Minor'])

In [147]:
RPSale_df

,UniqueID,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,786032.0,2687551,785662.0,370.0,08/21/2014,245000,20140828001436,,,,...,3,6,3,N,N,N,N,1,8,
1,990625.0,1235111,990600.0,25.0,07/09/1991,0,199203161090,071,001,664885,...,3,0,26,N,N,N,N,18,3,11
2,286530.0,2704079,286210.0,320.0,10/11/2014,0,20141205000558,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,265025.0,2584094,264800.0,225.0,01/04/2013,0,20130110000910,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,689271.0,3027422,689181.0,90.0,12/20/2019,560000,20191226000848,,,,...,3,6,3,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107150,NaN,2550462,NaN,NaN,06/22/2012,225000,20120626001337,,,,...,3,6,3,N,N,N,N,1,8,
2107151,NaN,1063156,NaN,NaN,05/23/1989,108500,198905310465,079,020,182800,...,3,0,2,N,N,N,N,1,8,
2107152,NaN,1192159,NaN,NaN,05/23/1991,352500,199105310882,068,045,926980,...,3,6,2,N,N,N,N,1,8,
2107153,NaN,2107222,NaN,NaN,03/10/2005,417500,20050311001203,,,,...,1,6,3,N,N,N,N,1,1,10
2107154,NaN,1741568,NaN,NaN,03/10/2000,159377,20000316001308,,,,...,3,6,3,N,N,N,N,8,8,12

In [173]:
RPSale_df = RPSale_df.loc[RPSale_df.PropertyType == 11]

#single unit housing, PropertyType = 11
#Principal Use gives us values for Residential = 6, gives us 1.3mil rows

In [174]:
RPSale_df

,UniqueID,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
210,421905.0,3002257,421740.0,165.0,07/22/2019,435000,20190730001339,,,,...,11,6,3,N,N,N,N,1,8,
367,134625.0,3067639,133680.0,945.0,08/25/2020,0,20200903002104,,,,...,11,6,2,N,N,N,N,18,8,
405,439835.0,2859159,439765.0,70.0,04/12/2017,400000,20170418000436,,,,...,11,6,3,,,,,1,8,
420,261310.0,3012934,259900.0,1410.0,09/24/2019,775000,20190930002488,,,,...,11,6,3,N,N,N,N,1,8,
440,736015.0,3068429,735860.0,155.0,09/01/2020,2000000,20200909002097,,,,...,11,6,2,N,N,N,N,1,8,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107044,NaN,2842194,NaN,NaN,12/13/2016,395600,20161229001589,,,,...,11,6,3,,,,,1,8,26
2107069,NaN,2974851,NaN,NaN,02/19/2019,320000,20190225000973,,,,...,11,6,3,N,N,N,N,1,8,
2107080,NaN,2923217,NaN,NaN,03/28/2018,1702000,20180406001012,,,,...,11,6,3,N,N,N,N,1,8,
2107097,NaN,2852025,NaN,NaN,02/15/2017,1495000,20170307001125,,,,...,11,6,3,,,,,1,8,
2107121,NaN,2858757,NaN,NaN,04/13/2017,735000,20170414000856,,,,...,11,6,3,,,,,1,8,

In [26]:
RPSale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2107155 entries, 0 to 2107154
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   ExciseTaxNbr        int64
 1   Major               object
 2   Minor               object
 3   DocumentDate        object
 4   SalePrice           int64
 5   RecordingNbr        object
 6   Volume              object
 7   Page                object
 8   PlatNbr             object
 9   PlatType            object
 10  PlatLot             object
 11  PlatBlock           object
 12  SellerName          object
 13  BuyerName           object
 14  PropertyType        int64
 15  PrincipalUse        int64
 16  SaleInstrument      int64
 17  AFForestLand        object
 18  AFCurrentUseLand    object
 19  AFNonProfitUse      object
 20  AFHistoricProperty  object
 21  SaleReason          int64
 22  PropertyClass       int64
 23  SaleWarning         object
dtypes: int64(7), object(17)
memory usage: 385.8+ MB

In [ ]:
#will excise tax number be need with rows that have NaN values for major and minor?

In [ ]:
conn = sqlite3.connect('KingHousing.db')
c = conn.cursor()

c.execute('CREATE TABLE PARCELS (Brand text, Price number)')
conn.commit()