In [1]:
import pandas as pd
import numpy as np
import json

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.diagnostic import linear_rainbow, het_breuschpagan
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

%load_ext autoreload
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join(os.pardir, os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
df = pd.read_json('../Data/combined.json')

In [3]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first')
catagory = ohe.fit_transform(df.drop(['SalePrice',
 'SqFtTotLiving',
 'SqFtDeck',
 'SqFtOpenPorch',
 'Area',
 'SqFtLot',
 'WfntFootage'],axis=1))

In [40]:
column_names = ohe.get_feature_names([ 'PropertyType',
 'LakeWashington',
 'LakeSammamish',
 'SmallLakeRiverCreek',
 'WfntLocation',
 'WfntBank',
 'WfntPoorQuality',
 'WfntRestrictedAccess',
 'TidelandShoreland',
 'Bedrooms',
 'BathFullCount',
 'FinBasementGrade'])

In [49]:
df_cat = pd.DataFrame(catagory.todense(), columns=column_names)
df_cat.head()

,PropertyType_3,PropertyType_11,LakeWashington_1,LakeWashington_2,LakeWashington_3,LakeWashington_4,LakeSammamish_1,LakeSammamish_2,LakeSammamish_3,LakeSammamish_4,...,FinBasementGrade_4,FinBasementGrade_5,FinBasementGrade_6,FinBasementGrade_7,FinBasementGrade_8,FinBasementGrade_9,FinBasementGrade_10,FinBasementGrade_11,FinBasementGrade_12,FinBasementGrade_13
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df_cont = df[['SalePrice',
 'SqFtTotLiving',
 'SqFtDeck',
 'SqFtOpenPorch',
 'Area',
 'SqFtLot',
 'WfntFootage']]

In [47]:
df_cont

,SalePrice,SqFtTotLiving,SqFtDeck,SqFtOpenPorch,Area,SqFtLot,WfntFootage
8576000260,583950,3270,0,250,57,5944,0
8576000270,489950,2520,0,180,57,4402,0
6190530110,1089950,3920,0,550,38,6062,0
9577910080,644950,3265,0,30,27,6501,0
53300270,654950,2487,0,45,51,5618,0
...,...,...,...,...,...,...,...
2473350830,627000,3820,0,80,30,10425,0
6821600195,855000,2340,0,140,11,6000,0
3883800051,669000,2380,100,40,96,9041,0
9514050600,921000,2280,0,110,35,4197,0
809001865,890000,1820,0,70,12,4000,0

In [43]:
df_final = pd.concat([df_real, df_parcel.reindex(df_real.index)], axis=1)

,SalePrice,SqFtTotLiving,SqFtDeck,SqFtOpenPorch,Area,SqFtLot,WfntFootage
8576000260,583950,3270,0,250,57,5944,0
8576000270,489950,2520,0,180,57,4402,0
6190530110,1089950,3920,0,550,38,6062,0
9577910080,644950,3265,0,30,27,6501,0
53300270,654950,2487,0,45,51,5618,0